<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/site.css" type="text/css" rel="stylesheet">
    <title>Express Template</title>
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            {{#if currentUser}}
                <li class="align-right">
                    <form id="logout-form" action="/logout" method="POST"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                <li class="align-right">Hello {{currentUser.username}}</a></li>
            {{else}}
                <li class="align-right"><a href="/login">Login</a></li>
                <li class="align-right"><a href="/register">Register</a></li>
            {{/if}}
            
        </ul>
    </div>
    {{#if errorMsg}}
        <h4 class="error">{{errorMsg}}</h4>
    {{/if}}
    {{#if successMsg}}
        <h4 class="error">{{successMsg}}</h4>
    {{/if}}
    {{{body}}}
</body>
</html>