<form class="form form-centered" method="POST" action="/login">
    <h2>Login User</h2>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="input-field" value="{{username}}" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="input-field" />
    </div>

      <div class="form-group">
        <input class="form-btn" type="submit" value="Login" />
    </div>
</form>